<div style="max-width: 400px; margin: 50px auto; padding: 20px;">
  <form method="post">
    {% csrf_token %}

    
    {% if error %}
      <div style="color: white; background-color: red; padding: 10px; text-align: center;">
        {{ error }}
      </div>
    {% endif %}

    
    <div style="margin-bottom: 10px;">
      <label for="username" style="font-weight: bold;">Username</label>
      <input type="text" name="username" id="username" placeholder="Enter Username" style="width: 100%; padding: 8px;"/>
    </div>

    
    <div style="margin-bottom: 15px;">
      <label for="password" style="font-weight: bold;">Password</label>
      <input type="password" name="password" id="password" placeholder="Enter Password" style="width: 100%; padding: 8px;"/>
    </div>

    <!-- Login Button -->
    <button type="submit" style="width: 100%; padding: 10px;border-radius: 7px; background-color: black; color: white;">Login</button>
  </form>
</div>
